:root {
  --color-bg: #33333333;
  --color-selected: #99999999;
  --color-hover: #99999933;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  cursor: pointer;
  font-size: 14px;
  width: fit-content;
}

.menu {
  top: 100%;
  left: 0;
  width: max-content;
  min-width: min(150px, calc(100% - 20px));
  max-width: 100%;
  text-wrap: nowrap;
  max-height: 240px;
  overflow-y: auto;
  backdrop-filter: blur(12px);
  background: var(--color-bg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  transition:
    opacity 0.2s ease,
    scale 0.2s ease;

  position: absolute;
  opacity: 0;
  // pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 8px;
  scale: 1;
}

.menuInner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu:active {
  scale: 1.05 !important;
}

.menu.open {
  opacity: 1;
  scale: 1;
  // pointer-events: auto;
  animation: open 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.08);
}

@keyframes open {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.item {
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 16px;
  transition: background 0.2s ease;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.indicator {
  position: absolute;
  left: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: var(--color-hover);
  transition:
    top 0.2s ease,
    height 0.2s ease;
  border-radius: 16px;
  z-index: -1;

  animation: indicator-appear 0.4s ease;
}

@keyframes indicator-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon {
  width: 16px;
  height: 16px;
}
