.tab-content {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: calc(var(--sab));

  // transition: padding-bottom 0.2s ease;
  // @media screen and (max-width: 768px) {
  //   padding-top: calc(var(--sat) + 20px);
  // }

  &--profile {
    padding-top: 0;
  }
  &--contacts {
    padding-top: 0;
  }
}
