.tab-content {
  width: 100%;
  height: 100%;
  padding-top: calc(env(safe-area-inset-top, 20px) + 50px);
  padding-bottom: calc(
    env(safe-area-inset-bottom, 20px) + var(--offset-bottom, 0px)
  );

  // transition: padding-bottom 0.2s ease;
}
