# Node modules
node_modules
npm-debug.log
yarn-error.log
.pnpm-store

# Build output
dist
build

# OS / IDE / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Git
.git
.gitignore

# Optional temp files
tmp
temp