.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  //   background: white;
  padding: 20px;
  border-radius: 10px;
}

canvas {
  //   border: 1px solid #ccc;
  cursor: grab;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  color: #fff;

  button {
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 20px;
  }
}
