.container {
  display: flex;
  flex-direction: column;
  // gap: 20px;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--color-border);
  padding: 0 10px;
}
.avatar {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  border-radius: 24px;
  border-bottom: 1px solid transparent;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;

  &__content {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.tab svg {
  width: 18px;
  height: 18px;
}

.tab:hover {
  color: var(--color-text);
}

.tab.active {
  // color: var(--color-accent-text);
  background: rgba(127, 127, 127, 0.2);
}

.section {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 12px;
}

.sessionsList {
  width: 100%;
}

.section h3 {
  font-size: 1rem;
  margin: 0;
  color: var(--color-text);
}

.logoutBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  color: var(--color-danger-text);
  transition: color 0.2s ease;
}

.logoutBtn:hover {
  color: var(--color-danger);
}

.logoutIcon {
  width: 16px;
  height: 16px;
}

.optionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.languageItem {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.languageInfo {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.languageName {
  font-weight: 500;
}
.languageLabel {
  font-size: 0.85rem;
  color: #999;
}
.languageFlag {
  height: 20px;
}

.sessionItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-bottom: #999 solid 1px;
  padding: 8px 0;

  .sessionInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 15px;

    &.currentSession {
      border: 2px solid rgb(255, 255, 255);
      border-radius: 36px;
    }

    .device {
      font-weight: 500;
    }
    .subInfo {
      color: #999;
      font-size: 0.875rem;
    }
  }

  .revokeBtn {
    cursor: pointer;
    background-color: rgb(62, 118, 209);
    border-radius: 20px;
    padding: 5px;
  }
}

.revokeAllBtn {
  cursor: pointer;
  background-color: rgb(209, 62, 77);
  border-radius: 20px;
  padding: 5px;
}

.wallpaperList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;

  @container settingsContainer (min-width: 0px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  // @media (max-width: 480px) {
  //   grid-template-columns: 1fr;
  //   gap: 6px;
  // }
}

.maximize {
  width: 16px;
  height: 16px;
}

.wallpaperThumbnail {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
}

.wallpaperItem {
  border-radius: 32px;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

.selected {
  outline: 3px solid #007bff;
}

.removeWallpaper {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 16px;
}

.wallpapersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin: 0 10px;
}

.blurSlider {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.radio {
  display: none;
}

.check {
  width: 12px;
  height: 12px;
  transition: background 0.2s ease;
  border-radius: 50%;
  cursor: pointer;
}

.check.active {
  background: #4d8ddb;
}

.content {
  padding: 20px;
  height: 100%;
  width: 100%;
}

// .settingsContainer {
// }

.close {
  width: 24px;
  height: 24px;
}

.title {
  font-size: 1.375rem;
  font-weight: 600;
  padding: 6px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 20px;
  z-index: 99;
}

.titleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.125rem;
  font-weight: 500;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  font-size: 1.125rem;
  font-weight: 600;
}
.email {
  font-size: 0.875rem;
  color: #999;
}
