.input {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 99rem;
  border: 0.5px solid #666;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(106, 111, 117, 0.08);
  background-color: rgba(127, 127, 127, 0.3);
  backdrop-filter: blur(2px);
  padding: 0 20px;

  .placeholder {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
    min-width: 110px;
    width: 110px;

    &:hover {
      width: auto;
    }
  }

  .inputContainer {
    position: relative;
    flex: 1;
    height: 100%;
    // mask-image: linear-gradient(
    //   to right,
    //   rgba(0, 0, 0, 0),
    //   rgba(0, 0, 0, 1) 10px,
    //   rgba(0, 0, 0, 1) calc(100% - 10px),
    //   rgba(0, 0, 0, 0)
    // );
    // -webkit-mask-image: linear-gradient(
    //   to right,
    //   rgba(0, 0, 0, 0),
    //   rgba(0, 0, 0, 1) 10px,
    //   rgba(0, 0, 0, 1) calc(100% - 10px),
    //   rgba(0, 0, 0, 0)
    // );
    // mask-repeat: no-repeat;
    // mask-size: 100% 100%;

    input {
      caret-color: var(--room_BG_color_hex);
      height: 100%;
    }

    .placeholderStatus {
      user-select: none;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      color: #999;
      opacity: 1;
      transition: opacity 0.2s ease, translate 0.2s ease;
      translate: 0px 0px;

      &.hidden {
        opacity: 0;
        translate: 20px 0;
      }
    }
  }
}
