.input {
  position: relative;
  display: flex;
  align-items: center;

  .placeholder {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 20px;
    min-width: 120px;
    width: 120px;

    &:hover {
      width: auto;
    }
  }

  .inputContainer {
    position: relative;
    flex: 1;
    height: 100%;
    // mask-image: linear-gradient(
    //   to right,
    //   rgba(0, 0, 0, 0),
    //   rgba(0, 0, 0, 1) 10px,
    //   rgba(0, 0, 0, 1) calc(100% - 10px),
    //   rgba(0, 0, 0, 0)
    // );
    // -webkit-mask-image: linear-gradient(
    //   to right,
    //   rgba(0, 0, 0, 0),
    //   rgba(0, 0, 0, 1) 10px,
    //   rgba(0, 0, 0, 1) calc(100% - 10px),
    //   rgba(0, 0, 0, 0)
    // );
    // mask-repeat: no-repeat;
    // mask-size: 100% 100%;

    input {
      caret-color: var(--mainColor);
      height: 100%;
    }

    .placeholderStatus {
      user-select: none;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      color: var(--secondaryColor);
      opacity: 1;
      transition:
        opacity 0.2s ease,
        translate 0.2s ease;
      // translate: 0px 0px;
      top: 50%;
      transform: translateY(-50%);

      &.hidden {
        opacity: 0;
        translate: 20px 0;
      }
    }
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 24px;
  border: 0.5px solid #666;
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(106, 111, 117, 0.08);
  background-color: rgba(127, 127, 127, 0.3);
  backdrop-filter: blur(2px);
  padding: 10px 20px;
}

.notes {
  font-size: 0.875rem;
  color: var(--secondaryColor);
}
