:root {
  --sidebar-width: 420px;
}

.container {
  position: fixed;
  width: 384px;
  height: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.2s;
  top: 0;
  right: 0;
  z-index: 99;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
  backdrop-filter: blur(5px);
}

.sidebar {
  // position: fixed;
  width: 384px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  background: color-mix(in srgb, rgb(0, 0, 0) 50%, transparent);

  flex-shrink: 0;
  overflow-x: hidden;
  border-left: 0.5px solid rgba(127, 127, 127, 0.5);

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__media {
    display: block;
    flex-shrink: 0;
    height: 100%;
    &.hidden {
      display: none;
    }
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
  z-index: 99;

  h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }
}

.maskBlur {
  position: absolute;
  width: 100%;
  inset: 0;
  height: 120px;
  backdrop-filter: blur(5px);
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) calc(100% - 120px),
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
  z-index: 98;

  opacity: 0;
  transition: opacity 0.4s;

  &.visible {
    opacity: 1;
  }
}

.mask {
  position: absolute;
  width: 100%;
  inset: 0;
  height: 120px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 1);
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) calc(100% - 120px),
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
  z-index: 98;
  opacity: 0;
  transition: opacity 0.4s;

  &.visible {
    opacity: 1;
  }
}

.button {
  height: 40px;
  min-width: 40px;
  padding: 10px;
  border-radius: 99rem;
  display: flex;
  justify-content: center;
  background-color: rgba(127, 127, 127, 0.3);
  align-items: center;
  font-size: 1rem;
  // border: 1px solid #999;
  backdrop-filter: blur(5px);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(106, 111, 117, 0.08);
  font-weight: 400;
  z-index: 99;
  color: #ddd;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  filter: blur(0px);
  transition:
    visibility 0.2s,
    opacity 0.2s,
    filter 0.2s,
    scale 0.2s,
    background-color 0.2s;

  &:active {
    scale: 0.95;
  }
  &:hover {
    background-color: rgba(127, 127, 127, 0.5);
  }
  svg {
    width: 20px;
    height: 20px;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    filter: blur(2px);
  }
}

.tabs {
  padding: 10px;
  display: flex;
  overflow-x: auto;
  position: sticky;
  top: 0;
  top: 60px;
  z-index: 99;
  &.hidden {
    display: none;
  }
}

.tabs-inner {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  min-width: max-content;
  border-radius: 24px;
  background-color: rgba(127, 127, 127, 0.3);
  backdrop-filter: blur(5px);
}

.tab {
  padding: 4px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  background: transparent;
  border: none;
  border-radius: 24px;
}

.active {
  border-bottom: 2px solid #3b82f6;
  background-color: #374151;
}

.content {
  flex: 1;
  overflow-y: auto;
  position: sticky;
  top: 110px;
}

.emptyText {
  text-align: center;
  color: #9ca3af;
  margin-top: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки одинаковой ширины */
  gap: 1px;
}

.mediaWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

.mediaItem {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.fileItem {
  padding: 0.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
  font-size: 0.875rem;
  color: #374151;
}

.sidebar {
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    position: sticky;
    top: 20px;
    z-index: 99;
    pointer-events: none;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    text-align: center;

    &:focus {
      outline: 1px solid #999;
      border-radius: 5px;
    }
  }

  &__subtitle {
    font-size: 0.875rem;
    color: #d5eaff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    text-align: center;
  }

  --avatar-scaling-duration: 0.3s;

  &__avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-duration: var(--avatar-scaling-duration);
    transition-property: margin-top;
    gap: 20px;
    position: relative;
    min-height: 100px;
    margin-top: 40px;
    flex-shrink: 0;
    z-index: 98;

    &--roller {
      margin-top: 0;
    }
  }
  &__avatar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    transition-duration: var(--avatar-scaling-duration);
    transition-property: scale, width, height, border-radius, transform;
    scale: 1;

    &:active {
      scale: 0.95;
    }

    &--edit {
      scale: 1.2;

      &:active {
        scale: 1.1;
      }
    }

    &--roller {
      border-radius: 0;
      width: 100%;
      aspect-ratio: 1 / 1;

      &:active {
        border-radius: 50px;
        scale: 0.95;
      }
    }
  }

  &__editable-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    font-family: 'SFProRounded';
    font-weight: 600;
    font-size: 1.5rem;
    transition-property: opacity;
    transition-duration: var(--avatar-scaling-duration);
    -webkit-user-drag: none;
    aspect-ratio: 1 / 1;
  }

  &__avatar {
    width: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
    font-family: 'SFProRounded';
    font-weight: 600;
    font-size: 1.5rem;
    transition-property: opacity;
    transition-duration: var(--avatar-scaling-duration);
    -webkit-user-drag: none;
    aspect-ratio: 1 / 1;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.interlocutorEdit {
  padding: 20px;
  position: relative;
  display: none;
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
}

.save {
  background-color: var(--room_BG_color_hex);
  &:hover {
    background-color: var(--room_BG_color_hex);
  }
}

.delete {
  background-color: rgba(202, 10, 10, 0.8);
  &:hover {
    background-color: rgba(164, 16, 16, 0.8);
  }
}

.interlocutorEdit.visible {
  display: block;
}

.memberAvatar {
  height: 40px;
  width: 40px;
  border-radius: 99rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SFProRounded';
}

.memberItem {
  margin: 0 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 20px;

  &:hover {
    background-color: rgba(127, 127, 127, 0.3);
  }

  .memberInfo {
    display: flex;
    flex-direction: column;

    .memberLastSeen {
      font-size: 0.75rem;
      color: #999;
    }
  }
}
