.tabs {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  border-radius: 1.5rem 1.5rem 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  background-color: rgb(30, 30, 30, 0.2);
}

.new-wallpaper {
  animation: slideUp 0.4s ease forwards;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    background-color: #1972de;
    border-radius: 20px;
    height: calc(100% - 16px);
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition:
      background-color 0.2s ease,
      scale 0.2s ease;
    scale: 1;

    &:hover {
      background-color: #145ea8;
    }

    &:active {
      background-color: #0e456f;
      scale: 0.98;
    }
  }

  &__input {
    display: none;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    display: inline;
  }
}

@keyframes slideUp {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 50px;
    opacity: 1;
  }
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  height: 60px;
  overflow: hidden;
  // margin-bottom: 10px;
}

.tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
  // padding: 8px 12px;
  border-radius: 8px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  fill: #ffffff;
  color: #ffffff;

  &:hover {
    scale: 1.1;
    // background: var(--color-hover);
  }

  &.active {
    // background: var(--color-accent);
    fill: #4d8ddb;
    color: #4d8ddb;
  }
}

.icon,
.avatar {
  width: 20px;
  height: 20px;
}

.avatar img {
  border-radius: 50%;
  object-fit: cover;
}

.label {
  font-size: 12px;
  font-weight: 500;
}

.tab-view {
  display: none;
}

.tab-view--active {
  display: block;
  // min-height: 100%;
  width: 100%;
}
