.tabs {
  display: flex;
  justify-content: space-around;
  gap: 4px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  border-radius: 8px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  fill: #ffffff;
  color: #ffffff;

  &:hover {
    scale: 1.1;
    // background: var(--color-hover);
  }

  &.active {
    // background: var(--color-accent);
    fill: #4d8ddb;
    color: #4d8ddb;
  }
}

.icon,
.avatar {
  width: 20px;
  height: 20px;
}

.avatar img {
  border-radius: 50%;
  object-fit: cover;
}

.label {
  font-size: 12px;
  font-weight: 500;
}

.tab-view {
  display: none;
}

.tab-view--active {
  display: block;
  min-height: 100%;
  width: 100%;
}
