.sliderWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  user-select: none;
}

.label {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.value {
  font-weight: 600;
}

.track {
  position: relative;
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  cursor: pointer;
  touch-action: none;

  .fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 3px;
    transition: width 0.3s ease;
    background-color: var(--mainColor);
  }

  .thumb {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    background: none;
    cursor: grab;
    transition: all 0.3s ease;
    background-color: var(--mainColor);
  }

  &.initial {
    .fill,
    .thumb {
      transition: none;
    }
  }
}

.dragging {
  .fill {
    transition: none !important;
  }
  .thumb {
    transition: background-color 0.3s ease !important;
  }
}

.thumb:active {
  cursor: grabbing;
  background-color: transparent !important;
}
