.chat-list-view {
  --appear-duration: 0.4s;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: visible;

  min-height: 100%;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;

  position: absolute;

  padding-bottom: calc((min(var(--sab), 10px) + 10px) * 2 + 48px);
  transition-duration: var(--appear-duration);
  transition-timing-function: ease;
  transition-property: opacity, transform;

  &--active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
}

@media screen and (max-width: 768px) {
  .chat-list-view {
    width: 100%;
    order: 2;
  }
}
