.chat-list-view {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: visible;

  min-height: 100%;
  opacity: 0;
  transform: scale(0.95);
  visibility: hidden;
  pointer-events: none;

  position: absolute;

  padding-bottom: calc(
    (min(env(safe-area-inset-bottom, 0px), 10px) + 10px) * 2 + 48px
  );

  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s linear 0.4s;

  &--active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  .chat-list-view {
    width: 100%;
    order: 2;
  }
}
