.send_div::before {
  content: '';
  position: fixed;
  bottom: -10px;
  right: 0;
  left: 0;
  top: 0px;
  width: 100%;
  height: 30px;
  background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 100%);

  filter: blur(15px);
  z-index: -1;
}

.send_div_class {
  height: fit-content;
  max-width: 100%;
  width: 100%;
  transition:
    width 0.2s ease-in,
    background 1s,
    height 0.2s;
}

.send_div.hidden {
  display: none !important;
}

.camera_svg {
  height: 25px;
  width: 100%;
  stroke: url('#strokeGradient');
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.textarea_container {
  position: relative;
  height: fit-content;
  min-width: 0;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  overflow: hidden;
}

.textarea {
  width: 100%;
  max-width: 100%;
  background: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  color: var(--textarea_font);
  caret-color: var(--mainColor);
  word-break: break-word;
  white-space: pre-wrap;
  outline: none;
  resize: none;
  min-height: 1rem;
  height: fit-content;
  line-height: 1rem;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &::selection {
    background: var(--mainColor);
    color: #fff;
  }
}

.textarea_placeholder {
  color: #999;
  opacity: 1;
  transition:
    opacity 0.3s,
    translate 0.3s;
  position: absolute;
  font-size: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
}

.textarea_placeholder.input {
  opacity: 0;
  translate: 20px 0;
}

.textarea:focus {
  outline: none;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.input_attach {
  height: 100%;
  width: 100%;
  stroke: url(#strokeGradient);
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#file_div {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 99rem;
  cursor: pointer;
  fill: var(--input_submit_color);
  stroke: none;
  background: transparent;
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1); */
  /* box-shadow: inset 1px 1px 0px 0 rgba(255, 255, 255, 0.3),
    inset -1px -1px 1px 0px rgba(255, 255, 255, 0.3); */
  box-shadow:
    inset 0 0 0 1px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 10%),
        transparent
      ),
    inset 1.8px 3px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 90%),
        transparent
      ),
    inset -2px -2px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 80%),
        transparent
      ),
    inset -3px -8px 1px -6px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 60%),
        transparent
      ),
    inset -0.3px -1px 4px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
        transparent
      ),
    inset -1.5px 2.5px 0px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 0px 3px 4px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 2px -6.5px 1px -4px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 1px 5px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 6px 16px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
        transparent
      );
  transform: scale(1);
  transition: 0.2s ease;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.input_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: auto;
  aspect-ratio: 21.74 / 19.2;
  border-radius: 20px;
  cursor: pointer;
  stroke: none;
  background: var(--mainColor);
  background: color-mix(in srgb, var(--mainColor) 70%, transparent);
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1); */
  /* box-shadow: inset 1px 1px 0px 0 rgba(255, 255, 255, 0.3),
    inset -1px -1px 1px 0px rgba(255, 255, 255, 0.3); */
  box-shadow:
    inset 0 0 0 1px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 10%),
        transparent
      ),
    inset 1.8px 3px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 90%),
        transparent
      ),
    inset -2px -2px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 80%),
        transparent
      ),
    inset -3px -8px 1px -6px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 60%),
        transparent
      ),
    inset -0.3px -1px 4px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
        transparent
      ),
    inset -1.5px 2.5px 0px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 0px 3px 4px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 2px -6.5px 1px -4px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 1px 5px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 6px 16px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
        transparent
      );
  transform: scale(1);
  transition: 0.2s ease;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.input_submit.send {
  transform: scale(0.95);
}

.send_svg {
  height: 40px;
  width: 100%;
  stroke: url('#strokeGradient');
  transform: rotate(-45deg);
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: 3px;
  margin-bottom: 3px;
}

.send_div_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 15px 0px 15px;
  margin-bottom: 10px;
}

.send_div {
  touch-action: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  background: rgba(30, 30, 30, 0.4) !important;
  /* -webkit-backdrop-filter: blur(2px); */
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  border-radius: 20px;
  padding: 2px;
  /* height: 80px; */
  position: relative;
  transition:
    background 1s,
    width 1s;
  gap: 4px;
  width: 100%;
}
