.button {
  position: relative;
  height: 40px;
  width: 40px;
  padding: 0 10px;
  border-radius: 32px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  background: color-mix(in srgb, rgb(0, 0, 0) 30%, transparent);
  align-items: center;
  font-size: 1rem;
  backdrop-filter: blur(1px);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.4),
    0 2px 4px rgba(39, 53, 71, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 400;
  z-index: 99;
  color: #ddd;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  filter: blur(0px);
  overflow: hidden;
  transition:
    visibility 0.2s,
    opacity 0.2s,
    filter 0.2s,
    scale 0.2s,
    background-color 0.2s,
    width 0.2s,
    height 0.2s;
  white-space: nowrap;
}

.mirror {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
  // height: auto;
  width: auto;
  min-width: 0;
  white-space: nowrap;
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: inherit;
}
