.button {
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  background-color: rgba(127, 127, 127, 0.3);
  align-items: center;
  font-size: 1rem;
  backdrop-filter: blur(5px);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(106, 111, 117, 0.08);
  font-weight: 400;
  z-index: 99;
  color: #ddd;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  filter: blur(0px);
  transition:
    visibility 0.2s,
    opacity 0.2s,
    filter 0.2s,
    scale 0.2s,
    background-color 0.2s;
}
