.controls {
  margin-top: 20px;
}

.offset {
  margin-top: 100px;
  position: relative;
  color: white;
  width: 25em;
  height: 30em;
  padding: 20px;
}

.form-label {
  color: grey;
  font-size: 13px;
  padding: 0 3px;
}

.form {
  border: 1px solid rgb(80, 80, 80);
  border-radius: 16px;
  margin-top: 10px;
  padding: 0 20px;

  position: relative;
  height: 50px;
  input {
    padding-left: 3px;
  }
}

.form:hover {
  border: 1px solid #4d8ddb;
}

.OR_div {
  border-bottom: 1px solid grey;
  text-align: center;
  color: grey;
  height: 12px;
}

.OR {
  font-size: 13px;
  background: rgb(30, 30, 30);
  padding: 0 3px;
}
