* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body.selection {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
      format('woff2'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body {
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* overflow: overlay; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  background-color: rgb(10, 10, 10);
  min-height: 100vh;
  color: white;
  /* display: flex; */
  /* justify-content: center; */
  /* font-family: 'Roboto'; */
}

::-webkit-scrollbar {
  display: none;
}

.controls {
  margin-top: 20px;
}

/*.controls:hover { background: #AFEEEE; }
.controls:active { background: #5F9EA0; }*/

.next_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(160, 150, 170);
  padding: 12px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  width: 100%;
  border-radius: 12px;
  border-style: none;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.next_button:hover {
  background: rgb(130, 120, 140);
}
.next_button:active {
  background: rgb(110, 100, 120);
}

#signup_login {
  color: pink;
  text-decoration: none;
}

.offset {
  margin-top: 100px;
  position: relative;
  color: white;
  width: 25em;
  height: 30em;
  padding: 20px;
}

.registration_form {
  text-align: center;
  font-size: 35px;
  padding: 30px;
}

.form-label {
  color: grey;
  font-size: 13px;
  margin-left: 4px;
  padding: 0 3px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form {
  border: 1px solid rgb(80, 80, 80);
  border-radius: 7px;
  height: 55px;
  margin-top: 10px;
  padding: 0 5px;
  position: relative;
}

.form:hover {
  border: 1px solid rgb(130, 120, 140);
}

.form:focus-within {
  border: 2px solid rgb(130, 120, 140);
}

/*#info{
    padding: 20px;
    text-align: center;
    color: grey;
}*/

input {
  all: unset;
  width: 100%;
  box-sizing: border-box;

  font: inherit;
  color: inherit;
  caret-color: currentColor;

  background: none;
  border: none;
  outline: none;

  padding: 0;
  margin: 0;

  text-align: left;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  animation-name: autofill;
  animation-duration: 0.01ms;
  transition-delay: 50000s;
  color: inherit !important;
}

@keyframes autofill {
  from {
  }
  to {
  }
}

.OR_div {
  border-bottom: 1px solid grey;
  text-align: center;
  color: grey;
  height: 12px;
}

.OR {
  font-size: 13px;
  background: rgb(30, 30, 30);
  padding: 0 3px;
}

.google_icon {
  opacity: 0.9;
  width: 20px;
}

.google_link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;

  gap: 10px;
}

.errorlist {
  color: #d47fcb;
  margin-left: 20px;
  padding: 10px 0;
}
