.wallpaperContainer {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

// .wallpaperOverlay {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   transition:
//     background-color 0.3s ease,
//     filter 0.3s ease;

//   &::after {
//     content: '';
//     display: block;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: var(--mainColor);
//     mix-blend-mode: multiply;
//     pointer-events: none;
//   }
// }

.wallpaper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wallpaperGlow {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.3;
  filter: blur(50px);
}

.roomPageContainer {
  display: flex;
  overflow: hidden;
  height: 100%;
}
