:root {
  --swipe-margin-inactive: 100%;
  --swipe-margin-choose-list: 0%;
  --device-corner-radius: 0px;

  --offset-tab-gradient-top-bottom: 20%;
  --offset-tab-gradient-left-right: 5%;
  --padding-tab: 0px;

  --room_BG_color_hex: #4d8ddb;
  --room_BG_shadow: 45;
  --myColor1: #4d8ddb;
  --myColor2: #4d8ddb99;
  --myColor3: #4d8ddb33;
  --darker_: #1972de;
  --message_color: #1c1c1c;

  --display-after-height: 0px;

  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);

  --c-glass: #0a0a0a;
  --c-light: #fff;
  --c-dark: #000;

  --c-content: #e1e1e1;
  --c-action: #03d5ff;

  --c-bg: #1b1b1d;

  --glass-reflex-dark: 2;
  --glass-reflex-light: 0.3;

  --saturation: 150%;
  --sizeVar: 25vmin;
}

::-webkit-scrollbar {
  display: none;
}

input {
  all: unset;
  width: 100%;
  box-sizing: border-box;

  font: inherit;
  color: inherit;
  caret-color: currentColor;

  background: none;
  border: none;
  outline: none;

  padding: 0;
  margin: 0;

  text-align: left;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  animation-name: autofill;
  animation-duration: 0.01ms;
  transition-delay: 50000s;
  color: inherit !important;
}

@keyframes autofill {
  from {
  }
  to {
  }
}

@font-face {
  font-family: 'SFProRounded';
  font-weight: 600;
  font-display: swap;
  src: url('../Fonts/Nunito-Bold.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  touch-action: manipulation;
}

html {
  font-size: 106.25%;
}

html,
body {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  height: calc(env(safe-area-inset-top) + 100%);
  max-height: calc(env(safe-area-inset-top) + 100%);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family:
    'SF Pro Text',
    'SF Pro Icons',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Roboto',
    'Apple Color Emoji',
    'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  color: white;
  background-color: rgb(30, 30, 30);
  max-height: calc(100%);
  border-radius: var(--device-corner-radius);
  animation: page-loaded 0.3s ease-in-out;
}

@keyframes page-loaded {
  0% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

.main_chat_window {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;

  z-index: 999;
  will-change: transform;
  position: relative;
  border-radius: var(--device-corner-radius);
}

.main_chat_window.swipe {
  transform: translateX(var(--swipe-margin));
  transition: transform 0s;
}

.main_chat_window:not(.swipe) {
  transition:
    --myColor1 2s,
    --myColor2 2s,
    --myColor3 2s,
    --shadow_degree 0s,
    background 0.2s ease-in,
    transform 0.35s;
}

svg {
  display: block;
}

.no-chats {
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

@keyframes shakeError {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1px);
  }
}

.choose_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-width: 384px;
  min-width: 384px;
  position: relative;
  border-radius: 20px;
  will-change: transform;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.6);
  background: color-mix(in srgb, rgb(0, 0, 0) 50%, transparent);
  margin: 10px 0px 10px 10px;
}

.room_div {
  overscroll-behavior: contain;
  padding-top: calc(env(safe-area-inset-top) + 50px);
  padding-bottom: calc(min(env(safe-area-inset-bottom, 0px), 10px) + 49px);
  max-width: 100%;
  min-height: 100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: 700px;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) calc(100% - 60px),
    rgba(0, 0, 0, 0) 100%
  );
}

.room_div::after {
  content: '';
  position: fixed;
  width: 100%;
  inset: 0;
  height: 60px;
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) calc(100% - 60px),
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.room_div > :last-child {
  transition: margin-top 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.room_body {
  transition: width 0.4s;
  width: 100%;
  height: 100%;
}

.room_wrapper {
  position: relative;
  width: 700px;
  max-width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s;
}

.room_wrapper.shifted {
  margin-right: 420px;
}

.chat-container {
  overflow: hidden;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: #000;
  animation: chat-loaded 0.3s ease-in-out;
}

@keyframes chat-loaded {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading_chats_container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.loading_chats_container.hidden {
  opacity: 0;
}

.loading_chats {
  height: 50px;
  stroke: #999;
}

.temp_full {
  display: flex;
  align-items: center;
  transition: background 1.5s;
  position: relative;
  width: 100%;
}

.temp_full.active {
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.7s;
}

.temp_full.selected {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: rgba(127, 127, 127, 0.2);
  transition: background 0.4s;
}

.message_select_check {
  position: absolute;
  margin-left: 12px;
}

.time-left {
  font-size: 0.625rem;
  color: #d5eaff;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.message_and_reaction {
  display: inline;
  max-width: 100%;
}

.message_div_temp_time_view {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.message_div.visible {
  translate: 0 0;
}

.temp_full.new_message_not_own,
.temp_full.new_message_own {
  animation: temp_full_new_message_not_own 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes message_div_recieve {
  0% {
    background: transparent;
    min-width: calc(100% - 52px);
  }
  100% {
    background: rgb(from var(--darker_) r g b / 95%);
    min-width: 0;
  }
}

@keyframes temp_full_new_message {
  0% {
    z-index: 999;
  }
  100% {
    z-index: 0;
  }
}

@keyframes message_details_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes temp_full_new_message_not_own {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message_div.selected_prepare {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 40px;
  transition: margin-left 0.4s;
}

.left-menu {
  order: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: calc(100%);
  overflow: scroll;
  // padding-top: calc(env(safe-area-inset-top, 20px) + 50px);
  // padding-bottom: calc(env(safe-area-inset-bottom, 20px) + 45px + 30px);
  // mask-image: linear-gradient(
  //   to bottom,
  //   rgba(0, 0, 0, 0) 0,
  //   rgba(0, 0, 0, 1) 50px,
  //   rgba(0, 0, 0, 1) calc(100% - 50px),
  //   rgba(0, 0, 0, 0) 100%
  // );
}

.left-menu:after {
  content: '';
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
}

@keyframes window-appear {
  0% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}

.scroll_down {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: calc(min(env(safe-area-inset-bottom, 0px), 10px) + 65px);
  right: 15px;
  overflow: hidden;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition:
    opacity 0.2s ease-in,
    background 1s,
    transform 0.2s ease-in;
  transform: scale(0);

  background: rgba(35, 35, 35, 0.7) !important;
  box-shadow:
    inset 0 0 0 1px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 10%),
        transparent
      ),
    inset 1.8px 3px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 90%),
        transparent
      ),
    inset -2px -2px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 80%),
        transparent
      ),
    inset -3px -8px 1px -6px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 60%),
        transparent
      ),
    inset -0.3px -1px 4px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
        transparent
      ),
    inset -1.5px 2.5px 0px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 0px 3px 4px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 2px -6.5px 1px -4px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 1px 5px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 6px 16px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
        transparent
      );
}

.liquidGlass-effect-scroll {
  position: absolute;
  z-index: 0;
  inset: 0;
  border-radius: 99rem;
  backdrop-filter: blur(1px) opacity(1);
  -webkit-backdrop-filter: blur(1px) opacity(1);
  overflow: hidden;
}

.scroll_down::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-mask: radial-gradient(
    circle,
    transparent 50%,
    #fff calc(100%),
    #fff calc(100%),
    transparent calc(100%)
  );

  -webkit-mask-composite: xor;
  mask-composite: exclude;
  backdrop-filter: saturate(300%) blur(10px) brightness(200%) opacity(100%);
  -webkit-backdrop-filter: saturate(300%) blur(10px) brightness(200%)
    opacity(100%);
  z-index: -1;
}

.scroll_down.active {
  opacity: 1;
  transition:
    opacity 0.2s ease-in,
    transform 0.2s ease-in;
  transform: scale(1);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chat-list-title {
  display: none;
}

@keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.liquidGlass-wrapper {
  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;

  box-shadow:
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

/* @media (pointer: none), (pointer: coarse)  */
@media screen and (max-width: 768px) {
  .temp_full.new_message_own > .message_div {
    animation: message_div_recieve 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .temp_full.new_message_own .viewed_span,
  .temp_full.new_message_own .time-left {
    animation: message_details_opacity 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .temp_full.new_message_own {
    animation: temp_full_new_message 0.85s cubic-bezier(0.19, 1, 0.22, 1);
  }
  @keyframes message_div_selected_animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .message_div.select {
    animation: message_div_selected_animation 0.5s ease-in-out;
  }

  .message_div.contextMenu {
    z-index: 1001;
  }

  html,
  body {
    margin: 0 auto;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  .chat-container {
    padding: 0;
    border-radius: 0;
  }
  .choose_list {
    border-radius: 0;
    margin: 0;
    border: none;
    clip-path: none;
  }

  .main_chat_window {
    background-color: #000;
    margin: 0;
  }

  .room_div {
    transition: padding-bottom 300ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  }

  .room_div.focus {
    /* padding-bottom: calc(env(safe-area-inset-bottom, 20px) + 50px); */
    padding-bottom: calc(
      max(var(--send_div_height_focus), 10px) + 50px
    ) !important;
  }

  .send_div_container {
    padding-bottom: calc(min(env(safe-area-inset-bottom, 0px), 10px) + 10px);
    transition: padding-bottom 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .send_div_container:focus-within {
    padding-bottom: max(var(--send_div_height_focus), 10px) !important;
  }

  .textarea:focus {
    animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.5s;
  }

  .main_chat_window {
    width: 100%;
    transform: translateX(calc(var(--swipe-margin-inactive)));
    position: fixed;
  }

  .scroll_down {
    bottom: calc(min(env(safe-area-inset-bottom, 0px), 10px) + 65px);
  }
  #opponent_title_name {
    min-width: 100%;
  }
  .room_body {
    min-width: 100%;
  }
  .chat-background-image {
    background-size:
      cover,
      450px auto !important;
  }
}

@media screen and (max-width: 768px) {
  .chat-list-title {
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px 15px;
    font-size: 1.75rem;
    font-weight: 600;
    position: absolute;
  }

  .left-menu {
    padding-top: calc(env(safe-area-inset-top, 20px) + 60px);
    padding-bottom: calc(env(safe-area-inset-bottom, 20px) + 45px + 30px);
    /* bottom: calc(min(env(safe-area-inset-bottom, 0px), 10px) + 10px); */
    order: 2;
  }

  .choose_list {
    transform: translateX(var(--swipe-margin-choose-list));
  }
  .choose_list:not(.swipe) {
    transition: transform 0.35s ease !important;
  }

  .choose_list.swipe {
    transform: translateX(calc(var(--swipe-margin) / 3 - 33%));
    transition: transform 0s;
  }

  .choose_list.swiped {
    display: none !important;
  }

  .message_div {
    max-width: 80%;
  }
  .temp_full {
    width: 100%;
  }

  .room_body.active {
    width: 0;
    opacity: 0;
    transition:
      width 0.2s ease-in,
      opacity 0.2s ease-in;
  }
  .send_div.hidden {
    width: 0;
    opacity: 0;
    transition:
      opacity 0.2s ease-in,
      width 0.2s ease-in;
  }
  .send_div.active {
    width: 0;
    opacity: 0;
    transition:
      opacity 0.2s ease-in,
      width 0.2s ease-in;
  }

  .choose_list {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
  }
}
