.input {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 99rem;
  border: 0.5px solid #666;
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(106, 111, 117, 0.08);
  background-color: rgba(127, 127, 127, 0.3);
  backdrop-filter: blur(2px);
  padding: 0 20px;
}

.placeholder {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 20px;
  min-width: 110px;
  width: 110px;
  top: 50%;
  transform: translateY(-50%);
}
