.chat-header {
  touch-action: none;
  border-radius: 20px;
  align-self: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  max-height: calc(50px + env(safe-area-inset-top, 0px));
  width: calc(100% - 10px);
  cursor: pointer;
  transition:
    background 1s,
    width 0.2s ease-in;
  z-index: 99;
  position: fixed;
  padding-top: env(safe-area-inset-top, 0px);
  margin-top: 10px;
  margin-right: 10px;

  &__avatar {
    height: 36px;
    width: 36px;
    margin: 0 10px;
  }

  &__title {
    width: 100%;
    font-weight: 500;
    color: #fff;
    transition:
      padding 1s,
      color 1s;
    overflow: hidden;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
  }

  &__title-name {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title-sub {
    font-weight: 400;
    font-size: 0.75rem;
    color: #d5eaff;
    max-width: 100%;
  }

  &__back-button {
    transform: rotate(180deg);
    width: 36px;
    aspect-ratio: 1;
    z-index: 999;

    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    display: none;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .chat-header {
    // margin-top: 0;
    margin-right: 0;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;

    &__title {
      position: absolute;
      align-items: center;
    }

    &__back-button {
      display: flex;
    }

    &__avatar {
      order: 2;
    }
  }
}
