.header-container {
  position: fixed;
  padding-top: env(safe-area-inset-top, 0px);
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 10px);
  align-self: start;
  z-index: 99;
}

.chat-header {
  touch-action: none;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  max-height: calc(50px + env(safe-area-inset-top, 0px));
  cursor: pointer;
  transition:
    background 1s,
    width 0.2s ease-in;

  &__avatar {
    height: 36px;
    width: 36px;
    margin: 0 10px;
  }

  &__title {
    width: 100%;
    font-weight: 500;
    color: #fff;
    transition:
      padding 1s,
      color 1s;
    overflow: hidden;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
  }

  &__title-name {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title-sub {
    font-weight: 400;
    font-size: 0.75rem;
    color: #d5eaff;
    max-width: 100%;
  }

  &__back-button {
    transform: rotate(180deg);
    z-index: 999;
    display: none;
    margin-left: 10px;
    width: 40px !important;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    margin-right: 0;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;
  }
  .chat-header {
    &__title {
      position: absolute;
      align-items: center;
    }

    &__back-button {
      display: flex;
    }

    &__avatar {
      order: 2;
      margin-left: auto;
    }
  }
}

.media-header {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;

  &__close {
    width: 40px !important;
    height: 40px !important;
  }

  &__cover {
    flex-shrink: 0;
    border-radius: 12px;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__toggle {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    padding: 11px;
    position: relative;
  }

  &__leftside {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    margin-left: 10px;
    gap: 10px;
  }

  &__current {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__rightside {
    flex-shrink: 0;
    display: flex;
    height: 100%;
    margin-right: 20px;
    gap: 10px;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

.icon {
  height: 24px;
  width: auto;
}

.audio-equalizer {
  display: flex;
  align-items: center;
  gap: 3px;
  height: 24px;

  &__bar {
    width: 4px;
    height: 100%;
    min-height: 20px;
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bar__inner {
    width: 100%;
    min-height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: height 0.05s ease-out;
  }
}
