#opponent_title_name {
  touch-action: none;
  border-radius: 20px;
  align-self: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  max-height: calc(50px + env(safe-area-inset-top, 0px));
  width: calc(100% - 10px);
  cursor: pointer;
  transition: background 1s, width 0.2s ease-in;
  z-index: 99;
  position: fixed;
  padding-top: env(safe-area-inset-top, 0px);
  margin-top: 10px;
  margin-right: 10px;
}

#opponent_title_name.hidden {
  display: none !important;
}

#opponent_title_name.active {
  width: calc(100% - 400px);
  transition: width 0.2s ease-in, background 1s;
}

#name {
  width: 100%;
  font-weight: 500;
  color: #fff;
  transition: padding 1s, color 1s;
  overflow: hidden;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}

.title_name {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-info-avatar.big {
  width: 200px !important;
  height: 200px !important;
  line-height: 200px !important;
  font-size: 75px !important;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
