.jump-to-bottom {
  padding: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: calc(min(env(safe-area-inset-bottom, 0px), 10px) + 65px);
  right: 15px;
  overflow: hidden;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transform: scale(0);

  transition:
    opacity 0.2s ease-in,
    background 1s,
    transform 0.2s ease-in;

  background: rgba(35, 35, 35, 0.7) !important;
  box-shadow:
    inset 0 0 0 1px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 10%),
        transparent
      ),
    inset 1.8px 3px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 90%),
        transparent
      ),
    inset -2px -2px 0px -2px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 80%),
        transparent
      ),
    inset -3px -8px 1px -6px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 60%),
        transparent
      ),
    inset -0.3px -1px 4px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
        transparent
      ),
    inset -1.5px 2.5px 0px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 0px 3px 4px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 2px -6.5px 1px -4px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 1px 5px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 6px 16px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
        transparent
      );
}

.liquidGlass-effect-scroll {
  position: absolute;
  z-index: 0;
  inset: 0;
  border-radius: 99rem;
  backdrop-filter: blur(1px) opacity(1);
  -webkit-backdrop-filter: blur(1px) opacity(1);
  overflow: hidden;
}

.scroll_down::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-mask: radial-gradient(
    circle,
    transparent 50%,
    #fff calc(100%),
    #fff calc(100%),
    transparent calc(100%)
  );

  -webkit-mask-composite: xor;
  mask-composite: exclude;
  backdrop-filter: saturate(300%) blur(10px) brightness(200%) opacity(100%);
  -webkit-backdrop-filter: saturate(300%) blur(10px) brightness(200%)
    opacity(100%);
  z-index: -1;
}

.visible {
  opacity: 1;
  transition:
    opacity 0.2s ease-in,
    transform 0.2s ease-in;
  transform: scale(1);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

.icon {
  transform: rotate(90deg);
}
