.jump-to-bottom {
  padding: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: calc(min(env(safe-area-inset-bottom, 0px), 10px) + 65px);
  right: 15px;
  overflow: hidden;
  border-radius: 100%;
  width: 40px !important;
  height: 40px !important;
  text-align: center;
  user-select: none;
  opacity: 0;
  transform: scale(0);

  transition:
    opacity 0.2s ease-in,
    background 1s,
    transform 0.2s ease-in;
}

.liquidGlass-effect-scroll {
  position: absolute;
  z-index: 0;
  inset: 0;
  border-radius: 99rem;
  backdrop-filter: blur(1px) opacity(1);
  -webkit-backdrop-filter: blur(1px) opacity(1);
  overflow: hidden;
}

.visible {
  opacity: 1;
  transition:
    opacity 0.2s ease-in,
    transform 0.2s ease-in;
  transform: scale(1);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

.icon {
  transform: rotate(90deg);
}
