.search-list {
  display: flex;
  flex-direction: column;

  .search-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 0.5px solid rgba(127, 127, 127, 0.2);
    cursor: pointer;

    .info {
      display: flex;
      flex-direction: column;

      .email {
        color: #999;
      }
    }

    .avatar {
      width: 30px;
      height: 30px;
    }
  }
}
