.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  //   background: white;
  padding: 20px;
  border-radius: 10px;
}

canvas {
  //   border: 1px solid #ccc;
  cursor: grab;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  color: #fff;

  button {
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 20px;
  }
}

.profileMediaInput {
  display: none;
}

.avatarDropZone {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  // overflow: hidden;

  &:hover .uploadIcon {
    scale: 1.2;
  }
}

.avatarDropZone::before {
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  pointer-events: none;
  scale: 1;

  background: repeating-conic-gradient(
    transparent 0deg 4deg,
    rgb(0, 166, 255) 4deg 12deg,
    transparent 12deg 26deg
  );

  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 3px),
    #000 calc(100% - 1px)
  );

  background-color: rgb(255, 66, 66);

  opacity: 0;
  transition: opacity 0.2s ease, scale 0.2s ease;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.dragOver::before {
  opacity: 1;
  scale: 1.2;
  animation: spin 1.5s ease-in-out infinite;
}

.uploadIcon {
  position: absolute;
  height: 33%;
  scale: 1;
  transition: scale 0.2s ease;
}

.avatar {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.editAvatar {
  filter: brightness(0.7);
}
