.avatarInitials {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'SFProRounded';
  font-weight: 500;
}

.profilePicture {
  border-radius: 50%;
  user-select: none;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.avatarImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
