.snackbar {
  position: fixed;
  left: 50%;
  top: 50%;
  background: #32323299;
  backdrop-filter: blur(5px);
  border: 0.5px solid #999;
  padding: 14px 22px;
  border-radius: 32px;
  font-size: 14px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    filter 0.3s ease,
    transform 0.3s ease;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.icon {
  fill: #fff;
  height: 0.875rem;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translate(-50%, -50%) scale(1);
}

.hide {
  opacity: 0;
  filter: blur(20px);
  transform: translate(-50%, -50%) scale(0);
}
