.snackbar {
  position: fixed;
  left: 50%;
  top: 50%;
  background: #32323299;
  backdrop-filter: blur(5px);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(106, 111, 117, 0.08);
  padding: 14px 22px;
  border-radius: 32px;
  font-size: 14px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    filter 0.3s ease,
    transform 0.3s ease;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.icon {
  fill: #fff;
  height: 0.875rem;
}

@keyframes snackbar-enter {
  from {
    opacity: 0;
    filter: blur(20px);
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes snackbar-exit {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    filter: blur(20px);
    transform: translate(-50%, -50%) scale(0);
  }
}

.show {
  animation: snackbar-enter 0.3s ease forwards;
}

.hide {
  animation: snackbar-exit 0.3s ease forwards;
}
