.settingsContainer {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  overflow: auto;
  position: relative;
  border-radius: 24px;
  will-change: transform;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.6);
  background: color-mix(in srgb, rgb(0, 0, 0) 50%, transparent);
  margin: 10px 10px 10px 0;
  height: calc(100% - 20px);

  position: relative;
  width: 700px;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  transition: all 0.2s;
  container: settingsContainer / inline-size;
  animation: settingsContainerShow 0.4s;
  transform-origin: right top;
}

@keyframes settingsContainerShow {
  0% {
    scale: 0;
    opacity: 0;
    translate: -150% 0;
  }
  100% {
    scale: 1;
    opacity: 1;
    translate: 0 0;
  }
}

.minimize {
  // position: absolute;
  // left: 10px;
  // top: 10px;
  height: 30px !important;
  width: 40px !important;
  margin-left: 20px;
  margin-top: 20px;
}
