.noChatText {
  border-radius: 99rem;
  padding: 3px 20px;
  background: rgba(0, 0, 0, 0.6);
  background: color-mix(in srgb, rgb(0, 0, 0) 20%, transparent);
  color: #fff;
  font-size: 0.875rem;
}

.menuSwitch {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 99rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 22px;
  width: 22px;
  background: rgba(0, 0, 0, 0.6);
  background: color-mix(in srgb, rgb(0, 0, 0) 20%, transparent);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(106, 111, 117, 0.08);
  color: #fff;
  font-size: 0.875rem;
}

.tipsMenu {
  .mainContent {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.6);
    background: color-mix(in srgb, rgb(0, 0, 0) 20%, transparent);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
      0 2px 4px rgba(106, 111, 117, 0.08);
    display: flex;
    flex-direction: column;
  }
  .header {
    margin: 0 auto;
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
  }
  .pageSwitch {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .switchButton {
      padding: 7px 20px;
      border-radius: 99rem;
      display: flex;
      justify-content: center;
      font-size: 0.875rem;
      align-items: center;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.6);
      background: color-mix(in srgb, rgb(0, 0, 0) 20%, transparent);
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1),
        0 2px 4px rgba(106, 111, 117, 0.08);
      color: #fff;
    }
  }
}
