.contactItem {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-bottom: 0.5px solid #666;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
}

.username {
  font-weight: 500;
}
