.contactItem {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-bottom: 0.5px solid #666;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
}

.username {
  font-weight: 500;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lastSeen {
  font-size: 0.875rem;
  color: var(--secondaryColor);
}

.emptyContact {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
