.message__text {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline;
  max-width: 100%;
  vertical-align: baseline;
  line-height: normal;
}

.message_div_temp_separator {
  color: var(--messageMainColor);
  padding: 6px 8px;
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: max-content;
  transition:
    color 1s,
    background 1s,
    opacity 0.3s,
    transform 0.3s;

  .message_div_subdata {
    display: inline;
    flex-direction: row;
    margin-left: 4px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    flex-shrink: 0;
    // margin-left: auto;
    float: right;
    margin-top: 8px;
  }

  &.textEmpty {
    position: absolute;
    top: unset;
    bottom: 6px;
    margin-left: auto;
  }

  &.hasOnlyMediaFiles {
    .message_div_subdata {
      border-radius: 99rem;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@property --mainColor {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageGradientDegree {
  syntax: '<angle>';
  inherits: true;
  initial-value: 168deg;
}

@property --messageColor1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageColor2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageColor3 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageColor4 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageColor5 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000000;
}

@property --messageStop1 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@property --messageStop2 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@property --messageStop3 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@property --messageStop4 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@property --messageStop5 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

.message_div {
  display: flex;
  margin: 3px 15px;
  z-index: 0;
  border-radius: 20px;
  max-width: min(432px, calc(100% - 60px));
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  --td: 0.15s;
  --ttf: ease-out;
  transition:
    --mainColor 0.4s var(--ttf),
    --messageGradientDegree 0.4s var(--ttf),
    --messageColor1 0.4s var(--ttf),
    --messageColor2 0.4s var(--ttf),
    --messageColor3 0.4s var(--ttf),
    --messageColor4 0.4s var(--ttf),
    --messageColor5 0.4s var(--ttf),
    --messageStop1 0.4s var(--ttf),
    --messageStop2 0.4s var(--ttf),
    --messageStop3 0.4s var(--ttf),
    --messageStop4 0.4s var(--ttf),
    --messageStop5 0.4s var(--ttf),
    margin-left var(--td) var(--ttf),
    width var(--td) var(--ttf),
    height var(--td) var(--ttf),
    opacity var(--td) var(--ttf),
    translate var(--td) var(--ttf);

  &.right {
    margin-left: auto;
  }

  background-color: rgb(from var(--message_color) r g b / 50%);
  backdrop-filter: blur(10px);
  outline: 1px solid rgba(127, 127, 127, 0.3);

  &.darker {
    // background-color: rgb(from var(--mainColor) r g b / 90%);
    // position: absolute;
    clip-path: inset(0 round 20px);

    // background-attachment: fixed;
    background: none;
    &::before {
      pointer-events: none;
      z-index: -1;
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // background-image: linear-gradient(
      //   180deg,
      //   var(--mainColor) 0%,
      //   color-mix(in srgb, var(--mainColor) 70%, #000) 100%
      // );
      background: linear-gradient(
        var(--messageGradientDegree, 168deg),
        var(--messageColor1) var(--messageStop1),
        var(--messageColor2) var(--messageStop2),
        var(--messageColor3) var(--messageStop3),
        var(--messageColor4) var(--messageStop4),
        var(--messageColor5) var(--messageStop5)
      );

      // background: linear-gradient(168deg, rgb(229, 124, 0), rgb(94, 0, 0));
      // background: linear-gradient(90deg, #08203e, #557c93);
    }
    backdrop-filter: none;
    // background-size: cover;
    // background-position: center;

    outline: none;
  }
  animation: message_loaded 0.2s ease-in-out;
}

@keyframes message_loaded {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: fit-content;
  position: relative;
  width: max-content;
  max-width: min(432px, calc(100dvw - 60px));
  flex-shrink: 0;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: 'SFProRounded';
  text-align: center;
  font-size: 0.75rem;
}

.viewed-status__icon {
  height: 11px;
  width: auto;
  fill: #fff;
}

.message_and_reaction {
  display: inline-block;
  width: max-content;
  max-width: 100%;
}

.edited {
  font-size: 0.625rem;
  color: var(--secondaryColor);
  white-space: nowrap;
}
