.message__text {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline;
  max-width: 100%;
  // min-width: 18px;
  vertical-align: baseline;
  line-height: normal;
}

.message_div_temp_separator {
  padding: 6px 8px;
  text-align: left;
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: nowrap;

  color: var(--message_font_color);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* gap: 10px; */
  max-width: 100%;
  min-height: fit-content;
  transition:
    color 1s,
    background 1s,
    opacity 0.3s,
    transform 0.3s;

  .message_div_subdata {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px 0 10px;
    flex-shrink: 0;
    margin-left: auto;
  }

  &.textEmpty {
    position: absolute;
    top: unset;
    bottom: 6px;
  }

  &.hasOnlyMediaFiles {
    .message_div_subdata {
      border-radius: 99rem;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.message_div {
  /* translate: 0 20px; */
  display: flex;
  margin: 3px 15px;
  z-index: 0;
  border-radius: 20px;
  max-width: min(432px, calc(100% - 60px));
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: margin-left, width, height, opacity, translate;

  &.right {
    margin-left: auto;
  }

  background-color: rgb(from var(--message_color) r g b / 50%);

  &.darker {
    background-color: rgb(from var(--mainColor) r g b / 90%);
  }

  .message {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: fit-content;
    position: relative;
  }
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: 'SFProRounded';
  text-align: center;
  font-size: 0.75rem;
}

.viewed-status__icon {
  height: 11px;
  width: auto;
  fill: #fff;
}

.message_and_reaction {
  display: inline;
  max-width: 100%;
}
