.message__text {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: inline;
  max-width: 100%;
  // min-width: 18px;
  vertical-align: baseline;
  line-height: normal;
}

.message_div_temp_separator {
  margin: 0;
  padding: 6px;
  text-align: left;
  position: relative;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // align-items: flex-start;
  color: var(--message_font_color);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* gap: 10px; */
  max-width: 100%;
  min-height: fit-content;
  transition: color 1s, background 1s, opacity 0.3s, transform 0.3s;

  .message_div_subdata {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 6px;
    margin-left: 4px;
    gap: 8px;
    align-items: center;
    float: right;
    justify-content: space-between;
    padding: 0 6px;
  }

  &.textEmpty {
    position: absolute;
    top: unset;
    bottom: 6px;

    .message_div_subdata {
      border-radius: 99rem;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@function trim($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0+1);
  }
  @return $number;
}

@function replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @return if(
    $index,
    str-slice($string, 1, $index - 1) + $replace +
      replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      ),
    $string
  );
}

@mixin super-rectangle($width, $height, $color) {
  $width: trim($width);
  $height: trim($height);
  $color: replace('' + $color + '', '#', '%23');
  $halfWidth: $width / 2;
  $halfHeight: $height / 2;
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg version='1.1' id='rectangle' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' stroke-width='3' width='" + $width + "' height='" + $height + "' viewBox='0 0 " + $width + ' ' + $height + "' enable-background='new 0 0 " + $width + ' ' + $height + "' xml:space='preserve'%3E%3Cpath fill='" + $color + "' stroke='red' d='M 0," + $halfHeight + ' C 0,0 0,0 ' + $halfWidth + ',0 S ' + $width + ',0 ' + $width + ',' + $halfHeight + ' ' + $width + ',' + $height + ' ' + $halfWidth + ',' + $height + ' 0,' + $height + ' 0,' + $halfHeight + "'%3E%3C/path%3E%3C/svg%3E");
  background-size: #{$width + 'px'} #{$height + 'px'};
  background-repeat: no-repeat;
}
//don't work in Firefox and Edge
@mixin super-rectangle-gradient($width, $height, $color1, $color2) {
  $width: trim($width);
  $height: trim($height);
  $color1: replace('' + $color1 + '', '#', '%23');
  $color2: replace('' + $color2 + '', '#', '%23');
  $halfWidth: $width / 2;
  $halfHeight: $height / 2;
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg version='1.1' id='rectangle' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='" + $width + "' height='" + $height + "' viewBox='0 0 " + $width + ' ' + $height + "' enable-background='new 0 0 " + $width + ' ' + $height + "' xml:space='preserve'%3E%3ClinearGradient gradientTransform='rotate(45)' id='linear-gradient'%3E%3Cstop offset='50%' stop-color='" + $color1 + "' /%3E%3Cstop offset='100%' stop-color='" + $color2 + "' /%3E%3C/linearGradient%3E%3Cpath fill='url(#linear-gradient)' stroke='none' d='M 0," + $halfHeight + ' C 0,0 0,0 ' + $halfWidth + ',0 S ' + $width + ',0 ' + $width + ',' + $halfHeight + ' ' + $width + ',' + $height + ' ' + $halfWidth + ',' + $height + ' 0,' + $height + ' 0,' + $halfHeight + "'%3E%3C/path%3E%3C/svg%3E");
  background-size: #{$width + 'px'} #{$height + 'px'};
  background-repeat: no-repeat;
}

@mixin super-circle($width, $height, $color) {
  $width: trim($width);
  $height: trim($height);
  $color: replace('' + $color + '', '#', '%23');
  $halfWidth: $width / 2;
  $halfHeight: $height / 2;
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg version='1.1' id='shape-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='" + $width + "' height='" + $height + "' viewBox='0 0 " + $width + ' ' + $height + "' enable-background='new 0 0 " + $width + ' ' + $height + "' xml:space='preserve'%3E%3Cpath fill='" + $color + "' stroke='none' d='M 0," + $halfHeight + ' Q 0,0 ' + $halfWidth + ',0 T ' + $width + ',' + $halfHeight + ' ' + $halfWidth + ',' + $height + ' 0,' + $halfHeight + " '%3E%3C/path%3E%3C/svg%3E");
  background-size: #{$width + 'px'} #{$height + 'px'};
  background-repeat: no-repeat;
}

//clip-path dont'work in Chrome
@mixin path($width, $height, $color) {
  background: $color;
  $width: trim($width);
  $height: trim($height);
  $color: replace('' + $color + '', '#', '%23');
  $halfWidth: $width / 2;
  $halfHeight: $height / 2;
  clip-path: url("data:image/svg+xml;charset=US-ASCII,%3Csvg version='1.1' id='rectangle' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='" + $width + "' height='" + $height + "' viewBox='0 0 " + $width + ' ' + $height + "' enable-background='new 0 0 " + $width + ' ' + $height + "' xml:space='preserve'%3E%3Cdefs%3E%3CclipPath id='path'%3E%3Cpath  stroke='none' d='M 0," + $halfHeight + ' C 0,0 0,0 ' + $halfWidth + ',0 S ' + $width + ',0 ' + $width + ',' + $halfHeight + ' ' + $width + ',' + $height + ' ' + $halfWidth + ',' + $height + ' 0,' + $height + ' 0,' + $halfHeight + "'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#path");
}

//don't work in Firefox and Edge
@mixin shadow-gradient($w, $h, $c) {
  position: relative;
  &:before {
    @include super-rectangle-gradient($w, $h, black, lightgray);
    position: absolute;
    width: $w;
    height: $h;
    z-index: -1;
    content: '';
    left: 5px;
    top: 5px;
    opacity: 0.2;
  }
}
@mixin shadow-plain($w, $h, $c) {
  position: relative;
  &:before {
    @include super-rectangle($w, $h, black);
    position: absolute;
    width: $w;
    height: $h;
    z-index: -1;
    content: '';
    left: 5px;
    top: 5px;
    opacity: 0.2;
  }
}

@mixin rectangle-svg($width, $height, $color, $radius) {
  $color: replace('' + $color + '', '#', '%23');
  background: url("data:image/svg+xml;charset=US-ASCII, %3Csvg xmlns='http://www.w3.org/2000/svg' width='" + $width + "' height='" + $height + "' viewBox='0 0 " + $width + ' ' + $height + "'%3E   %3Crect width='" + $width + "' height='" + $height + "' fill='" + $color + "' rx='" + $radius + "' ry='" + $radius + "'/%3E   %3C/svg%3E");
  background-size: #{$width + 'px'} #{$height + 'px'};
  background-repeat: no-repeat;
}

.message_div {
  /* translate: 0 20px; */
  display: flex;
  margin: 3px 15px;
  z-index: 0;
  /* clip-path: var(--path); */
  border-radius: 20px;
  max-width: min(432px, calc(100% - 30px));
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  transition: margin-left 0.4s, width 0.2s,
    height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.1s ease-out,
    translate 0.3s;

  // $w: 400px;
  // $h: 200px;
  // $c: #fe500033;
  // width: $w;
  // height: $h;
  // @include super-rectangle(100, $h, $c);
  // @include rectangle-svg($w, $h, $c, 50px);
  // border-radius: 20px;
  // clip-path: var(--path);
  // background-color: red;
  // border-radius: 20px;
  // overflow: hidden;
  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: -8px;
  //   z-index: -1;
  //   right: 15px;
  //   // background-color: red;
  //   // width: 10px;
  //   // height: 10px;
  //   // border-radius: 5px solid #ffffff;
  //   border-right: 10px solid rgb(from var(--darker_) r g b / 95%);
  //   // border-top: 0px solid transparent;
  //   border-bottom: 8px solid transparent;
  //   border-radius: 0 0 20px 20px;
  // }

  &::after {
    content: '';
    position: absolute;
    right: -6px;
    bottom: 0;
    width: 12px;
    height: 12px;

    background: inherit;
    background-size: inherit;
    background-position: bottom right;

    clip-path: path('M0 12 C8 12 12 8 12 0 L0 0 Z');
  }

  &.right {
    margin-left: auto;
  }

  &.darker {
    // background-color: black;
    .message {
      background-color: rgb(from var(--darker_) r g b / 90%);
      // background-color: var(--darker_);
    }
  }

  .message {
    margin: 0;
    background-color: rgb(from var(--message_color) r g b / 50%);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    position: relative;
  }
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: 'SFProRounded';
  text-align: center;
  font-size: 0.75rem;
}

.viewed-status__icon {
  height: 11px;
  width: auto;
  fill: #fff;
}
