.reel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  z-index: 9999;
  touch-action: none;
  user-select: none;
}

.filename {
  font-size: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.control {
  font-size: 40px;
  cursor: pointer;
  animation: controlsAnimation 0.5s ease-in-out;
}

.reel {
  overflow: hidden;
  position: relative;

  flex: 0 0 auto;
  display: flex;
  align-items: center;
  //   aspect-ratio: 9 / 16;
  padding: 10px 50px;

  @media screen and (max-width: 576px) {
    width: 100%;
    padding: 0;
  }
}

.files-container {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
}

.files-wrapper {
  height: 100%;
  width: 100%;
  aspect-ratio: 9 / 16;

  position: relative;
  overflow: hidden;
  border-radius: 24px;
  background-color: #000;

  @media screen and (max-width: 576px) {
    border-radius: 0;
    height: 100%;
  }
}

.media {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
  object-position: center;
  display: block;
  background: none !important;
}

.reel-control {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: controlsAnimation 0.5s ease-in-out;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.value {
  color: #fff;
  position: absolute;
  bottom: 10px;
  font-size: 0.875rem;
  padding: 20px;
}

@keyframes controlsAnimation {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;
}

.items-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.file {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    border-radius: 0;
  }
}
