.wrapper {
  position: relative;
}

.item {
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  background: #222;
}

.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;

  &__background {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
}

.spinner {
  position: absolute;
  width: 50px;
  height: 50px;
}

.cross {
  height: 25px;
  width: 25px;
  position: absolute;
  color: #fff;
  cursor: pointer;
}
