.wrapper {
  position: relative;
}

.item {
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  background: #222;
}

.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
